{% extends '/layout/application.html' %}

{% block content %}
<div class="row">
    <span class="title"><a href="{{ post.url }}" target="_blank" rel="noopener noreferrer">{{ post.title }}</a></span>
    <span class="owner">{{ post.owner }}</span>
    <span class="source">{{ post.domain }}</span>
    <hr>
    <form action="" method="POST">
        <div class="form-group">
            {{ form.hidden_tag() }}
            <div class="field">{{ form.messages.label }}</div>
            <div class="field">{{ form.messages(cols=60, rows=4) }}</div>
            {% for error in form.messages.errors %}
            <div class="error">[{{ error }}]</div>
            {% endfor %}
        </div>

        <div class="form-group">
            <div class="field">{{ form.submit() }}</div>
        </div>
    </form>
</div>

{% if comments %}
    {% for comment in comments recursive %}
    <div class="comments" style="margin-left: {{ 25 * comment.depth }}px" data-comment-id="{{ comment.id }}" {% if comment.parent_id %}data-parent-id="{{ comment.parent_id }}"{% endif %}>
            <div class="user">
                <b>{{ comment.user.username }}</b> {{ moment(comment.created_at).fromNow() }} :
            </div>
            <div class="comments__content">
            {% if comment.is_spam == True %}
            <i>spam removed</i>
            {% else %}
            {{ comment.messages|markdown }}
            {% endif %}
            </div>
            <div class="act">
                <a href="{{ url_for('comment.reply', id=comment.id) }}">reply</a>
                {% if (current_user.role == 'admin' or current_user.role == 'momod') %}
                |
                <a href="{{ url_for('comment.mark_spam_unspam', post_id=post.id, id=comment.id) }}">{% if comment.is_spam == True %}not {% endif %}spam</a>
                {% endif %}
            </div>
        </div>
        {{ loop(get_children_comments(comment)) }}
    {% endfor %}
{% endif %}
{% endblock %}
