version: '3.6'

services:
  db:
    build:
      context: ./db
    environment:
      - POSTGRES_USER=postgre
      - POSTGRES_PASSWORD=changeme
    ports:
      - 5432:5432
    volumes:
      - ./db/postgre:/var/lib/postgresql/data
  web:
    build: .
    command: gunicorn -b 0.0.0.0:5000 app:app
    volumes:
      - .:/code
    ports:
      - 5000:5000
    environment:
      - ENV=DEVELOPMENT
      - SECRET_KEY=your-secret-key
      - APP_CONFIG=config.application.ProductionConfig
      - GITHUB_CLIENT_ID=your-github-client-id
      - GITHUB_SECRET_ID=your-github-secret-id
      - MAILGUN_API_KEY=your-mailgun-api-key
      - MAILGUN_DOMAIN=your.mailgun.domain
      - MAILGUN_USER=user@your.mailgun.domain
      - DATABASE_URL=postgres://postgre:changeme@db:5432/pegelinux
      - DATABASE_TEST_URL=postgres://postgre:changeme@db:5432/pegelinux_test
    depends_on:
      - db
