[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-migrate = "*"
feedparser = "*"
invoke = "*"
apscheduler = "*"
flask-moment = "*"
pylint = "*"
gunicorn = "*"
psycopg2 = "*"
flask-login = "*"
flask-misaka = "*"
pyjwt = "*"
requests = "*"
sentry-sdk = {extras = ["flask"],version = "==0.12.3"}

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
