{% extends '/layout/application.html' %}

{% block content %}
    <form action="" method="POST">
        <div class="form-group">
            {{ form.hidden_tag() }}
            <div class="field">{{ form.username.label }}</div>
            <div class="field">{{ form.username(size=32) }}</div>
        </div>

        <div class="form-group">
            <div class="field">{{ form.password.label }}</div>
            <div class="field">{{ form.password(size=32) }}</div>
        </div>

        <div class="form-group">
            <div class="field">{{ form.remember() }} {{ form.remember.label }}</div>
            <div class="field">{{ form.submit() }}</div>
        </div>
    </form>
    <p>New user? <a href="{{ url_for('auth.register') }}">Register</a></p>
{% endblock %}
