{% extends '/layout/application.html' %}

{% block content %}
    <form action="" method="POST">
        <div class="form-group">
            {{ form.hidden_tag() }}
            <div class="field">{{ form.email.label }}</div>
            <div class="field">{{ form.email(size=64) }}</div>
            {% for error in form.email.errors %}
            <div class="error">[{{ error }}]</div>
            {% endfor %}
        </div>

        <div class="form-group">
            <div class="field">{{ form.submit() }}</div>
        </div>
    </form>
{% endblock %}
