{% extends "/layout/application.html" %}

{% block content %}
<div class="submenu">
    <a href="{{ url_for('job.submit') }}">submit job</a>
</div>
    {% for job in jobs %}
    <div class="job">
        <span class="title"><a href="{{ url_for('job.view', id=job.id) }}">{{ job.title }} at {{ job.company }}</a></span>
        <span class="owner">{{ job.employment }}</span>
        <span class="owner">onsite: {{ job.on_site }}</span>
        <span style="font-size: 0.75rem; color: #828282;">{{ moment(job.created_at).fromNow() }}</span>
    </div>
    {% endfor %}
{% endblock %}