body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.87rem;
  background: url(/assets/img/bg-pattern.png) #fff;
}

.row {
  border: 1px solid #f1f1f1;
  margin: 5px;
  padding: 4px;
  background-color: #fff;
}

.row a {
  text-decoration: none;
  color: black;
}

.menu {
  color: #bbb;
  text-decoration: none;
}

.header {
  height: 20px;
}

.header a {
  text-decoration: none;
  color: black;
}

.headerright {
  float: right;
}

.headerleft {
  float: left;
}

.owner {
  border: 1px solid #f1f1;
  border-radius: 5px;
  font-size: 0.75rem;
  background-color: azure;
  padding: 0 4px;
}

.source {
  font-size: 0.75rem;
  color: #828282;
}

.action {
  font-size: 0.75rem;
  color: #828282;
}

.action a {
  text-decoration: none;
  color: #828282;
}

.item {
  padding: 0 4px;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  min-width: 600px;
  max-width: 900px;
}

.comments {
  margin: 5px;
  font-size: 0.75rem;
  padding: 0 4px;
  border-left: 3px solid #e7e7e8;
}

.comments p {
  margin: 0px 4px;
}

tr a {
  text-decoration: none;
  color: #828282;
  border-bottom: 1px solid #828282;
}


.comments a, .job a {
  text-decoration: none;
  color: #828282;
  border-bottom: 1px solid #828282;
}

.job {
  margin: 5px;
  padding: 4px;
}

.job .title a {
  text-decoration: none;
  color: #e96506;
  border-bottom: 1px solid #e96506;
}

.flash, .error {
    background-color: #f89406;
    border-color: #e96506;
    color: #ffffff;
}

.code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}